#map {
  width: 100%;
  height: 450px;
  margin: auto;
  z-index: 2;
}

@media (max-width: 450px) {
  #map {
    height: 350px;
  }
}

.leaflet-popup-content {
  width: 200px;
  height: 200px;
  overflow-x: scroll;
}

.chart {
  width: 200px;
  height: 200px;
}
