---
import { getCollection } from 'astro:content';
import PageLayout from '../../layouts/PageLayout.astro';
import ContentPreviewGrid from '../../components/ContentPreviewGrid.astro';
import { getLatest } from '../../lib/content-helpers';

const allTech = await getCollection('tech');
const allBooks = await getCollection('books');
const allLife = await getCollection('life');

const latestTech = getLatest(allTech, 3);
const latestBooks = getLatest(allBooks, 3);
const latestLife = getLatest(allLife, 3);
---

<PageLayout title="Writing">
	<div>
		<ContentPreviewGrid
			title="Tech"
			items={latestTech}
			collection="tech"
			viewMoreUrl="/writing/tech"
			viewMoreText="more tech"
		/>

		<hr class="my-3 border-gray-300 w-3/4 mx-auto">

		<ContentPreviewGrid
			title="Books"
			items={latestBooks}
			collection="books"
			viewMoreUrl="/writing/books"
			viewMoreText="more books"
		/>

		<hr class="my-3 border-gray-300 w-3/4 mx-auto">

		<ContentPreviewGrid
			title="Life"
			items={latestLife}
			collection="life"
			viewMoreUrl="/writing/life"
			viewMoreText="more life"
		/>
	</div>
</PageLayout>
